@if (images) {
	<ngb-carousel [interval]="2000" class="asdf">
		<ng-template ngbSlide>
			<div class="picsum-img-wrapper">
				<img src="https://wallpapercave.com/wp/wp11725704.png" alt="Random first slide" />
			</div>
			<div class="carousel-caption">
				<h3>HTML</h3>
				<p>HyperText Markup Language is the standard markup language for documents designed to be displayed in a web browser. It defines the content and structure of web content. It is often assisted by technologies such as Cascading Style Sheets and scripting languages such as JavaScript</p>
			</div>
		</ng-template>
		<ng-template ngbSlide>
			<div class="picsum-img-wrapper">
				<img src="https://wallpapercave.com/wp/wp2742435.jpg" alt="Random second slide" />
			</div>
			<div class="carousel-caption">
				<h3>CSS</h3>
				<p>Cascading Style Sheets is a style sheet language used for specifying the presentation and styling of a document written in a markup language such as HTML or XML. CSS is a cornerstone technology of the World Wide Web, alongside HTML and JavaScript.</p>
			</div>
		</ng-template>
		<ng-template ngbSlide>
			<div class="picsum-img-wrapper">
				<img src="https://wallpapercave.com/wp/wp12454809.jpg" alt="Random third slide" />
			</div>
			<div class="carousel-caption">
				<h3>JAVASCRIPT</h3>
				<p>JavaScript, often abbreviated as JS, is a programming language and core technology of the Web, alongside HTML and CSS. 99% of websites use JavaScript on the client side for webpage behavior. Web browsers have a dedicated JavaScript engine that executes the client code</p>
			</div>
		</ng-template>
        <ng-template ngbSlide>
			<div class="picsum-img-wrapper">
				<img src="https://wallpapercave.com/wp/wp5722051.jpg" alt="Random third slide" />
			</div>
			<div class="carousel-caption">
				<h3>ANGULAR</h3>
				<p>Angular is a TypeScript-based, free and open-source single-page web application framework run on Node.js. It is led by the Angular Team at Google and by a community of individuals and corporations. Angular is a complete rewrite from the same team that built AngularJS</p>
			</div>
		</ng-template>
        <ng-template ngbSlide>
			<div class="picsum-img-wrapper">
				<img src="https://wallpapercave.com/wp/wp6606964.jpg" alt="Random third slide" />
			</div>
			<div class="carousel-caption">
				<h3>NODEJS</h3>
				<p>Node.js is a cross-platform, open-source JavaScript runtime environment that can run on Windows, Linux, Unix, macOS, and more. Node.js runs on the V8 JavaScript engine, and executes JavaScript code outside a web browser. Node.js lets developers use JavaScript to write command line tools and for server-side scripting</p>
			</div>
		</ng-template>
        <ng-template ngbSlide>
			<div class="picsum-img-wrapper">
				<img src="https://mma.prnewswire.com/media/384058/MongoDB_Logo.jpg?p=facebook" alt="Random third slide" />
			</div>
			<div class="carousel-caption">
				<h3>MONGODB</h3>
				<p>MongoDB is a source-available, cross-platform, document-oriented database program. Classified as a NoSQL database product, MongoDB utilizes JSON-like documents with optional schemas. MongoDB is developed by MongoDB Inc. and current versions are licensed under the Server Side Public License</p>
			</div>
		</ng-template>
	</ngb-carousel>
}