<div class="tech-stack-container">
    <h1 class="tech-stack-title">Tech Stack</h1>
    <div class="tech-stack-item">
      <img src="https://cdn.iconscout.com/icon/free/png-512/free-mongodb-3-1175138.png?f=webp&w=256" alt="MongoDB" class="tech-stack-item-image">
      <h2 class="tech-stack-item-title">MongoDB</h2>
      <p class="tech-stack-item-description">MongoDB is a source-available cross-platform document-oriented database program. Classified as a NoSQL database program, MongoDB uses JSON-like documents with optional schemas.</p>
    </div>
    <div class="tech-stack-item">
      <img src="https://cdn.iconscout.com/icon/free/png-512/free-express-9-1175170.png?f=webp&w=256" alt="Express.js" class="tech-stack-item-image">
      <h2 class="tech-stack-item-title">Express.js</h2>
      <p class="tech-stack-item-description">Express.js is a back end web application framework for Node.js, released as free and open-source software under the MIT License. It is designed for building web applications and APIs.</p>
    </div>
    <div class="tech-stack-item">
      <img src="https://cdn.iconscout.com/icon/premium/png-512-thumb/angular-2752246-2285063.png?f=webp&w=256" alt="Angular" class="tech-stack-item-image">
      <h2 class="tech-stack-item-title">Angular</h2>
      <p class="tech-stack-item-description">Angular is an open-source front-end Typescript library for building user interfaces or UI components. It is maintained by Google and a specifically for single web page applications.</p>
    </div>
    <div class="tech-stack-item">
      <img src="https://cdn.iconscout.com/icon/free/png-512/free-node-2336954-1982835.png?f=webp&w=256" alt="Node.js" class="tech-stack-item-image">
      <h2 class="tech-stack-item-title">Node.js</h2>
      <p class="tech-stack-item-description">Node.js is an open-source, cross-platform, JavaScript runtime environment that executes JavaScript code outside a web browser.</p>
    </div>
  </div>