
<h1 class="ho">HOME</h1>
<div class="home-container">
    <div class="home-image">
      <img src="assets/linkedin profile.jpg" alt="Home Image">
    </div>
    <div class="home-description">
      <h1>Welcome to Our Website!</h1>
      <p>"Welcome to my corner of the digital universe! I'm Ayush Rana, a passionate Computer Science student with a relentless curiosity for all things tech. Dive into my world where algorithms dance, code speaks, and creativity thrives. Join me on this exhilarating journey through the ever-evolving realm of computer science, where innovation knows no bounds. Let's explore the endless possibilities together!
        I belongs to Dehradun Uttarakhand "Land Of Gods".Currently I am pursuing my Engineering from Graphic Era hill University</p>
     
    </div>
  </div>

   